<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}My App{% endblock %}</title>
    <!-- Copy the Bootstrap CSS <link> from your old index.html here -->
  </head>
  <body>
    <nav class="navbar navbar-expand bg-body-tertiary mb-4">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">CS 188</a>
        <div class="navbar-nav">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        <a class="nav-link" href="{{ url_for('players') }}">Soccer Players</a>
</div>
      </div>
    </nav>

    <main class="container">
      {% block content %}{% endblock %}
    </main>

    <!-- Copy the Bootstrap JS <script> from your old index.html here -->
    {% block scripts %}{% endblock %}
  </body>
</html>