<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}My App{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand bg-body-tertiary mb-4">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">CS 188</a>
        <div class="navbar-nav">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        <a class="nav-link" href="{{ url_for('players') }}">Soccer Players</a>
        </div>
        {% include "components/account_nav.html" %}
        </div>
    </nav>

    <main class="container">
      {% block content %}{% endblock %}
    </main>
    {% include "components/register_modal.html" %}
    {% include "components/login_modal.html" %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>